<div class="container">
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">Presentation</li>
    <li class="tab-link" data-tab="tab-2">Menu</li>
    <li class="tab-link" data-tab="tab-3">Notre Equipe</li>
    
  </ul>

  <div id="tab-1" class="tab-container current">
    <h2>
    Presentation </h2>

    TAB 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div id="tab-2" class="tab-container">
      <h2>
    Menu</h2>
    TAB 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div id="tab-3" class="tab-container">
      <h2>
    Lorem </h2>
    TAB 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>

</div>