<!DOCTYPE html>
<html>
 
  <body>
  <header>
  <nav class="navbar navbar-nav bg-dark">
     
     <h1 class="text-primary"> Minimalism Trendy </h1>
     
   </nav>

 </header>
 <div class="wrapper">
  <div class="cover module-cover fullscreen text-center" >
    <div class="text">
    
   <h4> For Mimimalism Lovers   </br>
   L'essentiel, rien de plus !   </h4>
  
     </div>
   </div>
 </div>
<br><br>
<div class="container">
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">Presentation</li>
    <li class="tab-link" data-tab="tab-2">Menu</li>
    <li class="tab-link" data-tab="tab-3">Notre Equipe</li>
    
  </ul>

  <div id="tab-1" class="tab-container current">
    <h2>
    Presentation </h2>

    Le Mimimalism Trendy est un reseau dans la pur tradition du Mouvement Minimaliste. </br>
    Nous avons tout epure afin que l'experience sensorielle se concentre autant que possible sur le gout. </br>
    Notre proprietaire, le Milliardaire Allen Must a concus cet ecrin comme l'antre de la restauration ultime.
  </div>
  <div id="tab-2" class="tab-container">
      <h2>
    Menu</h2>
    Notre menu de saison :</br>
    - Feuille de salade romaine et sa vinaigrette</br>
    - Sardine grillee et sa patate vapeur</br>
    - Kiri et son pain de mie</br>
    - Pomme tranchee en quartiers
  </div>
  <div id="tab-3" class="tab-container">
      <h2>
    Notre equipe :</h2></br>
    - La chef neuf fois etoile, Maite PASTAFARI</br>
    - L'ancien second du Ritz et du Meurice : Jean-Michel YUMEE</br>
  </div>

</div>

<footer>
    <div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>
  </ul>
    </nav>
  </footer>

</body>
